/* HEADER */

.home {
    margin: auto;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px; 
}

.header-img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.header-text {
    margin: 0;
    font-weight: bold;
    padding-right: 20px;
}

.time-date {
    margin: 2px 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.header-button {
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    width: 75px;
    padding: 5px 10px;
}

/* MAIN */

.main-text-two {
    text-align: justify;
    padding: 15px 20px;
}

ol li {
    margin-bottom: 10px; 
}

.register-link {
    text-align: center;
    justify-content: center;
}

.register-button {
    text-decoration: none;
    color: #fff;
}

.logout-button {
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    width: 75px;
    padding: 5px 10px;
}